[data-page="equipos_add"][data-itemid="section"] > .panel-heading {
  background-color: #d3e9c0;
  background-image: none;
}
[data-page="equipos_add"][data-itemid="details_preview"] {
  background-color: transparent;
}
[data-page="equipos_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


