[data-page="registros_ponentes_add"][data-itemid="add_header"] {
  font-size: 22px;
}
[data-page="registros_ponentes_add"][data-itemid="image"] {
  height: 80px;
}
[data-page="registros_ponentes_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


