[data-page="registros_add3"][data-itemid="add_header"] {
  color: #064e00;
  font-size: 22px;
}
[data-page="registros_add3"][data-itemid="image"] {
  height: 80px;
}
[data-page="registros_add3"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


