<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel resultado_reto1 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idevaluador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idevaluador}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idevaluador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idevaluador" data-fieldname="idevaluador" >


	<label class="r-search-label control-label" for="{$labelfor_idevaluador}">
		{$label resultado_reto1 idevaluador }	</label>
	<div class="r-search-option">
		{$searchtype_idevaluador}
	</div>
	<div class="r-search-field">
		{$idevaluador_editcontrol}	</div>
	<div class="r-search-field">
		{$idevaluador_editcontrol1}
	</div>
	
</div>

{END idevaluador_fieldblock}
											
{BEGIN idequipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idequipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idequipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="idequipo" data-fieldname="idequipo" >


	<label class="r-search-label control-label" for="{$labelfor_idequipo}">
		{$label resultado_reto1 idequipo }	</label>
	<div class="r-search-option">
		{$searchtype_idequipo}
	</div>
	<div class="r-search-field">
		{$idequipo_editcontrol}	</div>
	<div class="r-search-field">
		{$idequipo_editcontrol1}
	</div>
	
</div>

{END idequipo_fieldblock}
											
{BEGIN Puntaje_final_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Puntaje_final}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Puntaje_final{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Puntaje_final" data-fieldname="Puntaje final" >


	<label class="r-search-label control-label" for="{$labelfor_Puntaje_final}">
		{$label resultado_reto1 Puntaje_final }	</label>
	<div class="r-search-option">
		{$searchtype_Puntaje_final}
	</div>
	<div class="r-search-field">
		{$Puntaje_final_editcontrol}	</div>
	<div class="r-search-field">
		{$Puntaje_final_editcontrol1}
	</div>
	
</div>

{END Puntaje_final_fieldblock}
											
{BEGIN reto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="reto" data-fieldname="reto" >


	<label class="r-search-label control-label" for="{$labelfor_reto}">
		{$label resultado_reto1 reto }	</label>
	<div class="r-search-option">
		{$searchtype_reto}
	</div>
	<div class="r-search-field">
		{$reto_editcontrol}	</div>
	<div class="r-search-field">
		{$reto_editcontrol1}
	</div>
	
</div>

{END reto_fieldblock}
											
{BEGIN equipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_equipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="equipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="equipo" data-fieldname="equipo" >


	<label class="r-search-label control-label" for="{$labelfor_equipo}">
		{$label resultado_reto1 equipo }	</label>
	<div class="r-search-option">
		{$searchtype_equipo}
	</div>
	<div class="r-search-field">
		{$equipo_editcontrol}	</div>
	<div class="r-search-field">
		{$equipo_editcontrol1}
	</div>
	
</div>

{END equipo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
