[data-page="criterio_list1"][data-itemid="simple_grid_field2"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field3"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field4"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field5"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field6"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field7"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field8"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field12"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field13"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field14"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field15"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field16"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field17"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="simple_grid_field18"] {
  font-size: 10px;
}
[data-page="criterio_list1"][data-itemid="grid_field"] {
  font-weight: bold;
  font-size: 11;
}
[data-page="criterio_list1"][data-itemid="grid_field2"] {
  font-weight: bold;
  font-size: 11;
}
[data-page="criterio_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


/* Put  your custom CSS code here */

select[multiple], select[size] {
    height: 20px;
    width: 70px;
}