[data-cellid="grid_c"][data-page="registros_view1"][data-cellid="grid_c"][data-page="registros_view1"][data-cellid="grid_c"][data-page="registros_view1"] {
  width: 33.33%;
}
[data-cellid="grid_c2"][data-page="registros_view1"][data-cellid="grid_c2"][data-page="registros_view1"][data-cellid="grid_c2"][data-page="registros_view1"] {
  width: 33.33%;
}
[data-cellid="grid_c14"][data-page="registros_view1"][data-cellid="grid_c14"][data-page="registros_view1"][data-cellid="grid_c14"][data-page="registros_view1"] {
  width: 33.33%;
}
[data-page="registros_view1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


