[data-cellid="grid_cell_field3"][data-page="registros_vista_list"][data-cellid="grid_cell_field3"][data-page="registros_vista_list"][data-cellid="grid_cell_field3"][data-page="registros_vista_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="registros_vista_list"][data-cellid="grid_footcell_field1"][data-page="registros_vista_list"][data-cellid="grid_footcell_field1"][data-page="registros_vista_list"] {
  white-space: nowrap;
}
[data-page="registros_vista_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


