<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/logo.png" type="image/png">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<img src="{$file_url images/logo.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" data-page="registrosparticipantes_view" />
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text6" {$item_text6} data-pageid="{$pageid}" data-small > 
	<br></span>
											<span data-itemtype="text" data-itemid="text13" {$item_text13} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-center r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-small > 
	<p class="ql-align-center"><span class="ql-size-large">CERTIFICADO </span></p><p class="ql-align-center">DE PARTICIPANTES</p><p><span class="ql-size-large">﻿</span></p></span>
	
								</td>
			{END cellblock_grid_c4}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text3" {$item_text3} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c13}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class="r-align-center r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text7" {$item_text7} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-small > 
	<p class="ql-align-center">La línea de tecnologías virtuales <strong>Tecnoparque </strong>entrega el presente a</p></span>
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c11}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class="r-align-center r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN nombre_completo_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-field="nombre_completo" data-fieldname="nombre_completo" data-compact >
		{$nombre_completo_value}	</div>
{END nombre_completo_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class="r-align-center"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tipo_doc_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label" {$item_edit_field_label} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-field="tipo_doc" data-fieldname="tipo_doc" data-before-same-field data-compact>{BEGIN tipo_doc_label}{$label registrosParticipantes tipo_doc }{END tipo_doc_label}</label>
{END tipo_doc_fieldblock}
											{BEGIN tipo_doc_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-field="tipo_doc" data-fieldname="tipo_doc" data-compact >
		{$tipo_doc_value}	</div>
{END tipo_doc_fieldblock}
											{BEGIN num_doc_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-field="num_doc" data-fieldname="num_doc" data-compact >
		{$num_doc_value}	</div>
{END num_doc_fieldblock}
	
								</td>
			{END cellblock_grid_c15}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class="r-align-center r-ori-vert"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text10" {$item_text10} data-pageid="{$pageid}" data-small > 
	<br></span>
											<span data-itemtype="text" data-itemid="text2" {$item_text2} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c17}
								</tr>
	 
	 
														<tr {$row_grid_9} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class="r-align-center"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text8" {$item_text8} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-small > 
	Por su </span>
											{BEGIN tipo_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-field="tipo" data-fieldname="tipo" data-before-same-field data-compact >
		{$tipo_value}	</div>
{END tipo_fieldblock}
											<span data-itemtype="text" data-itemid="text12" {$item_text12} data-pageid="{$pageid}" data-page="registrosparticipantes_view" data-small > 
	 en el evento Agrojam. Esperamos contar con su presencia en futuras actividades</span>
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
														<tr {$row_grid_10} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text11" {$item_text11} data-pageid="{$pageid}" data-small > 
	<br></span>
											<span data-itemtype="text" data-itemid="text15" {$item_text15} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_11} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text4" {$item_text4} data-pageid="{$pageid}" data-small > 
	<br></span>
											<span data-itemtype="text" data-itemid="text14" {$item_text14} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_12} >
										

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text9" {$item_text9} data-pageid="{$pageid}" data-small > 
	<br></span>
											<span data-itemtype="text" data-itemid="text5" {$item_text5} data-pageid="{$pageid}" data-small > 
	<br></span>
	
								</td>
			{END cellblock_grid_c18}
								</tr>
	 
	 
														<tr {$row_grid_13} >
										

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}" data-page="registrosparticipantes_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<img src="{$file_url images/TP.png}" data-itemtype="image" data-itemid="image3" {$item_image3} data-pageid="{$pageid}" data-page="registrosparticipantes_view" />
	
								</td>
			{END cellblock_grid_c2}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}" data-page="registrosparticipantes_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<img src="{$file_url images/sena-colombia-logo-green39a900(1).png}" data-itemtype="image" data-itemid="image2" {$item_image2} data-pageid="{$pageid}" data-page="registrosparticipantes_view" />
	
								</td>
			{END cellblock_grid_c14}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}" data-page="registrosparticipantes_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				<img src="{$file_url images/cuc.png}" data-itemtype="image" data-itemid="image1" {$item_image1} data-pageid="{$pageid}" data-page="registrosparticipantes_view" />
	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="landscape" 
data-scale="100" 
data-filename="Registros Participantes.pdf" 
data-pagesize="LETTER" 
data-pagetype="view" 
data-bg-image="pave.png" 
data-bg-opacity="0" 
{$pdflink_attrs}  title="" >
				
		Vista PDF		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
